*{
    margin: 0;
}

.header{
    width: 100%;
    height: 150px;
    background-color: #E8656A;
  
}
.header img{
    padding-top : 0px;
    padding-bottom: 0px;
    padding-left: 75px;
    padding-right: 125px;

}
.header h1{
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 300px;
    text-align: left;
    font-size: 75px;
    color: #F9C699;
    font-family: Kristen ITC;
}
.header h3{
    padding-left: 360px;

}
.content {
     width: 100%;
    height: 1300px;
    background-color: #F9C699;

}
.content h1{
    padding-top: 75px;
    text-align: center;
    font-size: 50px;
    color: #C0C080;
    font-family: Kristen ITC;
}
.content h2{
    padding-top: 75px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 25px;
    color: #E8656A;
    font-family: Kristen ITC;
}
.content h3{
    padding-top: 75px;
    padding-left: 35px;
    padding-right: 35px;
}
.content h4{
    padding-top: 35px;
     padding-left: 35px;
    padding-right: 35px;
}
.content p{
    padding-top: 75px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    font-size: 20px;
    color: #E8656A;
    font-family: Kristen ITC;
}
.content form{
    padding-top: 75px;
    text-align: center;
    font-size: 35px;
    color: #E8656A;
    font-family: Kristen ITC;
}
.content a{
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
    color: #E8656A;
    font-family: Kristen ITC;
    background-color: #C0C080;
}
.content h5{
  padding-top: 10px;
  padding-left: 35px;
  text-align: center;
  color: #E8656A;
  font-size: 20px;
}
.button-container {
  text-align: center;
}
.button {
  position: relative;
  background: currentColor;
  border: 1px solid currentColor;
  font-size: 1.1rem;
  color: #C0C080;
  margin: 3rem 0;
  padding: 0.75rem 3rem;
  cursor: pointer;
  -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
  color:#E8656A ;
  position: relative;
  z-index: 1;
  font-family:  Kristen ITC;
}
.button::before {
  content: '';
  position: absolute;
  background: #C0C080;
  border: 50vh solid #C0C080;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 0;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.button:hover {
  color: #E8656A;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before, .button:focus::before {
  -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
  transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
.button:focus {
  outline: none;
}
.container h3{
    padding-top: 75px;
    padding-left: 35px;
    padding-right: 35px;
}
.container h4{
    padding-top: 35px;
     padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 75px;
}
.footer {
     width: 100%;
     padding-top: 0px;
    height: 200px;
    background-color: #E8656A;
    font-size: 10px;
    font-family: Kristen ITC;
}
.footer h1{
  padding-left: 10px;
  text-align: left;
  font-size: 25px;
  color: #F9C699;
  padding-top: 20px;
}
.footer h2{
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  color: #F9C699;
  padding-top: 20px;
}
.footer label{
   padding-left: 10px;
  text-align: left;
  font-size: 20px;
  color: #F9C699;
  padding-top: 20px;
}